* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
/* ----- HEADER ----- */
header {
    /* border-bottom: 2px solid #F3BFD3; */
    /* text-decoration-color: #F3E4C2 */
    margin-bottom: 50px;
}
.form_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 85%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.form_login-label,.form_login-register {
    margin-bottom: 5px;
}
.welcome {
    display: flex;
    justify-content: center;
    color: #F3BFD3;
    font-size: 1.5rem;
}
.btn {
    border-radius: 10px;
    width: 80px;
    height: 22px;
    background-color: #F3E4C2;
    cursor: pointer;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.03);
    outline: none;
    border: none;
    margin-bottom: 15px;
}
.quotes_b {
    width: 95px;
    margin-top: 30px;
}
.form_control{
    border-radius: 10px ;
    outline: none;
    border: 1px solid #ccc;
    padding: 8px 12px;
}
.section_container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-header{
    margin-bottom: 25px;
}
hr {
    border: 1px solid #F3BFD3;
    margin-top: 5px;
}
.form_group {
    margin-bottom: 10px;
}
.section_anime {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.card{
    margin-bottom: 10px;
}
.hidden {
    display: none;
}
#anime_section { 
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
    border: 2px solid #F3BFD3;
    border-radius: 15px;
}